main{
   padding: 20px;
}
header{
    border: 1px solid rgb(133, 8, 8);
    padding: 30px;
}

header h1{
    text-align: center;
    font-size: 2rem;
    font-family: fantasy;
}
nav{
    margin: 10px 0;
}
nav ul li{
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(32, 190, 72);
    border-radius: 10px 0;
    transition: ease 0.2s all;
}
nav ul li:hover{
    background-color:rgb(8, 70, 124);
    border-radius: 0 10px;
    color: white;
    cursor: pointer;

}
#gallary {
border: 2px solid rgb(171, 182, 23);
border-radius: 30px;
padding: 30px;
}